body{
    background: rgba(202, 202, 226, 0.668);
    color: #444;
}

.container{
    width: 90%;
    max-width: 960px;
    margin: 80px auto;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.11);
    background: white;
}
.error{
    color: red;
    font-size: 14px;
}

button{
    text-decoration: none;
    background-color:rgb(0, 255, 170);
    color: white;
    font-weight: bold;
    border:0;
    border-radius: 20px;
    padding: 10px 20px;
}